* {
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}
/* header */

.header {
  color: #13415d;
  display: flex;
  flex-direction: row;
  width: 95%;
  border: 1px solid #ddd;
  padding: 1%;
  margin: 1% auto;
}
/*  left part of header */

.left {
  width: 45%;
  text-align: left;
}
/* logo */

.logo {
  width: 30%;
}
/*  left part of header */

.right {
  width: 45%;
  text-align: right;
}

/* banner */

.banner {
  width: 95%;
  margin: 1% auto;
}
/* banner image */

.banner-img {
  width: 98%;
  margin: 1% auto;
}
/* caption for main content */

.caption {
  width: 95%;
  margin: 1% auto;
  color: #3f3f40;
  font-size: 20px;
  font-weight:500;
}
/* main content */

.wrapper {
  width: 95%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
}
/* services */

.item {
  border: 1px solid #ddd;
  width: 30%;
  text-align: center;
  padding: 1%;
  margin: 1%;
}

.item:hover {
  box-shadow: 3px 3px 3px #ddd;
}
/* service image */
.item-img {
  width: 100%;
}

.button {
background: #000;
padding: 1%;
display: block;
margin: 1%;
color: #fff;
}

.footer {
  background: #3f3f40;
  width: 95%;
  color: #fff;
  padding: 1%;
  margin: 1% auto;
  text-align: center;
}
/* display layout for small screen devices */
@media only screen and (min-width: 320px) and (max-width: 480px){
  .header {
    color: #13415d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    border: 1px solid #ddd;
    padding: 1%;
    margin: 1% auto;

  }
  .left {
    width: 92%;
    margin: 1% auto;
  }

  .logo {
    width: 80%;
    display: block;
    margin: 1% auto;
  }
  .right {
    width: 92%;
    margin: 1% auto;
    text-align: center;
  }
  .wrapper {
    max-width: 95%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    border: 1px solid #ddd;
    width: 95%;
    text-align: center;
    padding: 1%;
    margin: 1% auto;
  }
}

/* display layout for small screen devices */
@media only screen and (min-width: 481px) and (max-width: 768px){
  .header {
    color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    border: 1px solid #ddd;
    padding: 1%;
    margin: 1% auto;

  }
  .left {
    width: 45%;
    margin: 1% auto;
  }

  .logo {
    width: 80%;
    display: block;
    margin: 1% auto;
  }
  .right {
    width: 45%;
    margin: 1% auto;
    text-align: center;
  }
  .wrapper {
    max-width: 95%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    border: 1px solid #ddd;
    width: 47%;
    text-align: center;
    padding: 1%;
    margin: 1% auto;
  }
}
